<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Handle requests up to 9 GB -->
        <requestLimits maxAllowedContentLength="4000000000" />
      </requestFiltering>
    </security>
	  
  </system.webServer>
</configuration>

<!--The Main Reason that make me creat this file is  to change size of uploaded files-->